html {
  margin: 0 auto;
}

body,
html {
  font-family: "Vazir", sans-serif;
  max-width: 1500px;
  height: 100%;
  width: 100%;
}

#root {
  /* background-color: black; */
  background-color: #fcfdf8;
}
